body {
    background: url('https://wallpapercave.com/wp/wp2991190.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;
}

h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    left: 35%;
    top: 40%;
}

#balloons-1 {
    width: 15%;
    filter: brightness(2);
    position: absolute;
    bottom: 0;
    left: 0;
    rotate: 15deg;
    display: none;
}

#balloons-2 {
    width: 15%;
    position: absolute;
    left: 90%;
    bottom: 0;
    rotate: -25deg;
    display: none;
}

#balloons-3 {
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 40%;
    display: none;
}

#cracker-1 {
    width: 5%;
    position: absolute;
    top: 0;
    left: 20%;
    display: none;
}

#cracker-2 {
    width: 5%;
    position: absolute;
    top: 0;
    left: 70%;
    display: none;
}

/* #cracker-3 {
    width: 25%;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
} */