body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
}

.moon-container img {
    width: 25%;
    position: absolute;
    left: 35%;
    bottom: 2%;;
}

.lander-container img {
    width: 20%;
    position: absolute;
    left: 37%;
    top: 0;
}

.flag-container img{
    width: 15%;
    position: absolute;
    display: none;
    
}

#first img{
    left: 5%;
    top: 5%;
}

#sec img{
    right: 5%;
    top: 5%;
}
