body {
    background-image: url(./assets/background.jpg);
    background-size: cover;
}

.heading {
    color: white;
    text-align: center;
}

.earth-container img{
    width: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.moon-container img {
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
}


.rocket-container img {
    width: 10%;
    position: absolute;
    left: 15%;
    bottom: 20%;
    rotate: 50deg;
}
 