body {
    background-image: url(./assets/space.jpg);
    background-size: cover;
}

/* header h1 {
    color: white;
    display: inline-block;
    border-right: 5px solid white;
    overflow: hidden;
    animation: typing 10s, cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from { width: 0}
} */

/* header h1 {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid #333;
} */

.earth-container img{
    width: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.moon-container img {
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
}

.earth-container img {
    width: 20%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.rocket-container img {
    width: 15%;
    position: absolute;
    left: 10%;
    bottom: 200px;
    transform: translateX(-50%);
}
 